:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}
body {
    font-family: Roboto, sans-serif;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 15px;
}
p {
	text-indent: 15px;
}

